
/* designed by : Mukul Kumar 
languages used : html css js 
hosted on : github 
created in : 22 july 2022  */




*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('assets/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
}


.game{
    display: none;
    width: 390px;
    height: 600px;
    background-image: url('assets/bg.jpg');
    background-size: cover;
    overflow: hidden;
    position: absolute;
    border: 5px solid lightgoldenrodyellow;
    border-radius: 60px;
    box-shadow: rgba(255, 255, 255, 0.971) 0px 50px 100px -20px, rgba(255, 255, 255, 0.971) 0px 30px 60px -30px, rgba(255, 255, 255, 0.971) 0px -2px 6px 0px inset;
}

.player{
    width: 130px;
    height: auto;
    position: absolute;
    top: 455px;
    left: 0px;
    text-align: center;
    z-index: 1;
}
.player img{
    width: 130px;
    height: auto;
    animation: rotation 1.5s ease-in-out;
    animation-iteration-count: infinite;
}

.alien{
    width: 130px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
.alien img{
    width: 125px;
    height: auto;
}

.alienMove{
    animation: alienMove 3s linear  infinite  forwards;
}

.bullet{

    width: 100px;
    height: auto;
    position: absolute;
    top: 370px;
    left: 0;
    text-align: center;
    animation: fire 1s linear 1 forwards;
}

.bulletImg{
    width: 100px;
    height: auto;
}

@keyframes fire {
    0%{
        top: 370px;
    }
    100%{
        top: -10px;
    }
}

@keyframes alienMove {
    0%{
        top: -10px;
    }
    100%{
        top: 470px;
    }
    
}

#result{
    height: 200px;
    width: 400px;
    background-color:black;
    margin:  1rem auto;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    display:none ;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #00e1ff;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
    padding: 20px;
}
#score{
    font-size: 2.2rem;
    font-weight: bold;
    color: red;
}
#btn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}


.sprite1{
    /* background: yellow; */
    background: url('assets/sprite1.png');
    background-size: 14vw 38vh;
    background-repeat: no-repeat;
    position: absolute;
    right: 2vw;
    bottom: 0;
    height: 36vh;
    width: 14vw;
    animation: inf 1.5s ease-in-out;
    animation-iteration-count: infinite;
  
}
.sprite2{
    /* background: yellow; */
    background: url(assets/captain_america_PNG93.png);
    background-size: 26vw 62vh;
    background-repeat: no-repeat;
    position: absolute;
    left: 2vw;
    bottom: 0;
    height: 62vh;
    width: 26vw;
    animation: inf 1.5s ease-in-out;
    animation-iteration-count: infinite;
  
}
/* .mobile{
    white-mobile-5b2948cfdf4383.6343998715294322719145.png');
} */

@keyframes inf{
    0%{
        bottom :0; 

    }
    50%{
bottom: 3vh;
    }
    
    100%{
        bottom : 0; 

    }
}



@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  .left{
    background: rgb(0, 0, 0);
   position: absolute;
   top: 14vh;
    left: 3vw;
    border: 1px solid #00e1ff;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
    padding: 30px;

  }

  .title h1{
    font-family: arial, monospace;
    margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
  color: #fff;
  text-shadow:
  0 0 5px #fff700, 0 0 10px #fff700,
  0 0 20px #fff700, 0 0 40px #fff700;
  }



 .a{
    margin-left: 15px;
    
    color: wheat;
    font-size: 18px;
    font-family: sans-serif;
  }


  .b{
    color: cyan;
    font-family: monospace;
  }
  .c{
    color: wheat;
    font-size: 20px;
    font-family: sans-serif;
  }
  .d{

    color: cyan;
    font-family: monospace;
    font-size: 17px;
  }
.txt{
    margin-bottom: 10px;
}
.profile{
    background: rgb(0, 0, 0);
    position: absolute;
    bottom: 11vh;
     right: 17vw;
     border: 1px solid #00e1ff;
     border-radius: 20px;
     box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
     padding: 20px;
     color: wheat;
     font-family: monospace;
     font-size:18px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.profile .title{
    margin: 10px 0px ;
}
.profile h4{
    margin: 8px 0px ;

}
  .right{
    position: absolute;
    right: 3vw;
    top : 10vh;
    background: rgb(0, 0, 0);
    border: 1px solid #00e1ff;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
    padding: 20px;
    /* font-size: ; */
  }

  .loading {
    font-family: sans-serif;
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.loading-title {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: inherit;
}

.loadingBanner {
    height: 45vh;


}

.loading_lables {
    font-size: 40px;
    color: wheat;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0px;
}
.bar_container{
    /* background: green; */
    height: 20px;
    width: 37.1vw;
    border : 2px solid white;
    margin-top: 20px;
}
.progressBar{
    animation: loadani 3s;
    animation-fill-mode: forwards;
    /* will get stuck at final position will not go back to initial position  */
    background: green;
    height: 20px;
    width: 0vw;
transition: all 0.5s ease-in-out;
}
@keyframes loadani{
    0%{
    width: 0vw;
        
    }
 
    100%{
        width: 37vw;

    }   }